.create-publication-image {
    width: 1.5rem;
}

.publication-actions {
    margin-top: auto;
}

.preview-image {
    width: 100%;
    max-height: 15rem;
    object-fit: contain; 
    display: block;
}

.info-publication {
    background-color: #454545;
    border: solid 0.05rem #ffffff;
    border-radius: 0.5rem;
}

.info-image {
    width: 1.5rem;
}

.publication-add-image {
    width: 4rem;
}

.drag-active {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px dashed #ffffff;
    transition: 0.2s ease-in-out;
}
