.footer-image {
    width: 10%;
    padding: 1%;
}

.footer-selected {
    background-color: #373737;
    border-radius: 0.5rem;
}

.footer-add-publication {
    background-color: #7F7F7F;
    border-radius: 0.5rem;
}

.footer {
  position: sticky;
  bottom: 0;
  background-color: #000000;
  border-top: 0.1rem solid #787878;
  padding: 0.5rem 0;
  text-align: center;
  z-index: 10;
}

