.user-image {
    width: 1rem;
    object-fit: cover;
}

.publication-image {
    width: 75%;
}

.home-container {
    min-height: 100dvh;
}

.modal.fade.show.d-block {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  transition: background-color 0.3s ease;
}
