.user-image {
    width: 1rem;
    object-fit: cover;
}

.home-container {
    min-height: 100dvh;
}

.publication-image {
    max-height: 15rem;
    object-fit: contain;
}

.modal.fade.show.d-block {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
    .publication-image {
        width: 75% !important;
    }
}