.profile-container {
    min-height: 100dvh;
    width: 80% !important;
}

.profile-image {
    width: 25% !important;
    max-height: 10rem;
    max-width: 8rem;
}

@media (min-width: 1200px) {
    .profile-image {
        width: 10% !important;
    }
}

@media (min-width: 993px) and (max-width: 1199px) {
    .profile-image {
        width: 15% !important;
    }
}

@media (max-width: 992px) {
    .profile-image {
        width: 20% !important;
    }
}

@media (max-width: 768px) {
    .profile-container {
        width: 80% !important;
    }

    .profile-publications {
        width: 93.75% !important;
    }

    .profile-image {
        width: 50% !important;
    }
}
