.logo-image-side-nav {
    width: 25%;
}

.side-nav {
    height: 100dvh;
    position: sticky;
    top: 0;
    padding: 1rem 0;
}

.side-nav-image {
    width: 15%;
}

.tooltip-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tooltip-wrapper::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    top: 110%;
    transform: translateX(-50%);
    background: #000;
    color: #fff;
    padding: 4px 8px;
    font-size: 1rem;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: opacity 0.2s ease;
}

.tooltip-wrapper:hover::after {
    opacity: 1;
}


@media (min-width: 1200px) {
    .logo-image-side-nav {
        width: 30%;
    }
}

@media (min-width: 993px) and (max-width: 1199px) {
    .logo-image-side-nav {
        width: 35%;
    }
}

@media (max-width: 992px) {
    .logo-image-side-nav {
        width: 40%;
    }
}