.logo-image-side-nav {
    width: 25%;
}

.side-nav {
  height: 100dvh;
  position: sticky;
  top: 0;
  padding: 1rem 0;
}

.side-nav-image {
  width: 15%;
}

@media (min-width: 1200px) {
    .logo-image-side-nav {
        width: 30%;
    }
}

@media (min-width: 993px) and (max-width: 1199px) {
    .logo-image-side-nav {
        width: 35%;
    }
}

@media (max-width: 992px) {
    .logo-image-side-nav {
        width: 40%;
    }
}