@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('./css/Login.css');
@import url('./css/Footer.css');
@import url('./css/NavBar.css');
@import url('./css/SignUp.css');
@import url('./css/Home.css');
@import url('./css/SideNav.css');

body {
  margin: 0;
  background-color: black;
  width: 100%;
  height: 100%;
}

